<a href="https://colab.research.google.com/github/archimisra/Python-if-else-loop-q-s/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = int(input("enter a number"))
if a % 2 == 0:
  print("even")
else:
  print("odd")

enter a number5
odd

In [2]:
a = int(input("enter marks(0-100):"))
if a >= 50:
  print("pass")
elif a >= 90:
  print("distinction")
else:
  print("fail")

enter marks(0-100):70
pass

In [3]:
a = int(input("enter age:"))
if a >= 18:
  print("eligible to vote")
elif a >= 21:
  print("also eligible to applying fo rdriving liscence")
else:
  print("not eligible")

enter age:12
not eligible

In [4]:
a = 2
b = 3
c = 10
print("largest:", max(a,b,c))

largest: 10

In [7]:
a = 2
b = 10
c = 11
if a > b & a > c:
  print("largest: a=", a)
elif b > a & b > c:
  print("largest: b=", b)
elif c > b & c > a:
  print("largest: c=", c)
else:
  print("invalid operation")

largest: c= 11

In [8]:

a = '123'
b = 'archi'
c = 'a,e,i,o,u'
print(type(a))

<class 'str'>

In [9]:
a = 12
b = 12
c = 4
if a == b == c:
  print("it i san equilateral triangle")
elif a == b != c:
  print("it is an isoceles triangle")
elif a != b != c:
  print("it is a scalane triangle")
else:
  print("invalid operation")

it is an isoceles triangle

In [11]:
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [13]:
a = 2
while a <= 20:
  print(a)
  a += 2

2
4
6
8
10
12
14
16
18
20

In [14]:
a = 3
while a <= 30:
  print(a)
  a += 3

3
6
9
12
15
18
21
24
27
30

In [3]:
N = int(input("enter a number:"))
i = 1
total = 0

while i <= N:
  total += i
  i += 1
  print("the sum of first", N, " natural number is", total)

enter a number:5
the sum of first 5  natural number is 1
the sum of first 5  natural number is 3
the sum of first 5  natural number is 6
the sum of first 5  natural number is 10
the sum of first 5  natural number is 15

In [7]:
i = 10
while i>=1:
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1